.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.contentFlexVertical {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.coolButton {
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.orangeButton {
  background-color: #ffcc32;
}

.redButton {
  background-color: red;
  color: white;
}

.coolLabel {
  display: flex;
  flex-direction: column;
}

.coolField {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid black;
}
